{
    "server": "server local ip",
    "server_port": 0000,
    "password": "proxy_passord",
    "method": "aes-256-cfb",
    "timeout": 600,
    "local_port": 1080,
    "local_address": "127.0.0.1"
}